<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjh.mapper.TestDao">
    <select id="getAll" resultType="HashMap">
        SELECT
            emp.hire_date hireDate,
            emp.last_name lastName,
            emp.email email,
            emp.salary salary,
            emp.job_id jobId
        FROM
            employees emp
        where 1=1
        <if test="name != null and name !='' ">
        and emp.last_name like '%${name}%'
        </if>
    </select>
</mapper>